@import "settings";
@import "foundation-sites/scss/foundation";

@include foundation-everything();

@import 'motion-ui';
@include motion-ui-transitions;

@import "ecommerce-hero";

body {
    background-image: url('/img/microelectronic_pattern_background.jpg');
    background-repeat: repeat;
}

a {
    font-family: 'Roboto Slab', serif;
}

.logo {
    height: 6rem;
}

.uppercase {
    text-transform: uppercase;
}

.line-bottom {
    margin-bottom: $global-margin;
}

.header {
    background-color: #283346;
    color: $white;
    .description {
        text-transform: uppercase;
        margin: $global-margin 0;
    }
}

.subscription {
    background-color: $light-gray;
}

.footer {
    background-color: $white;
}

