@import "settings";
@import "foundation-sites/scss/foundation";

@include foundation-everything();

@import 'motion-ui';
@include motion-ui-transitions;

@import "color";

@import "ecommerce-hero";

body {
    background-image: url('/img/microelectronic_pattern_background.jpg');
    background-repeat: repeat;
}

a {
    font-family: 'Roboto Slab', serif;
}

.logo {
    height: 6rem;
}

.uppercase {
    text-transform: uppercase;
}

.line-bottom {
    margin-bottom: $global-margin;
}
.line-top {
    margin-top: $global-margin;
}

$header-bg-color: #283346;

.header {
    background-color: $header-bg-color;
    color: $white;
    .description {
        text-transform: uppercase;
        margin: $global-margin 0;
    }
}

.find {
    background-color: $primary-color;
    .catalog {
        background-color: $secondary-color;
        height: rem-calc(80);
        display: flex;
        align-items: center;
        padding-left: 0.7rem;
        img {
            padding-right: 0.5rem;
        }
        a {
            color: $white;
            font-size: rem-calc(20);
        }
    }
    .cart {
        background-color: $secondary-color;
        height: rem-calc(80);
        display: flex;
        align-items: center;
    }
}

.main {
    .menu {
        background-color: $grey-200;
        li {
            border-bottom: rem-calc(1);
            border-bottom-style: solid;
            border-bottom-color: $grey-300;
        }
        li:hover {
            background-color: $primary-color;
        }
        .nested {
            li:hover {
                background-color: $white;
            }
        }
        li:last-child {
            border: 0;
        }
        a {
            color: $header-bg-color;
        }
    }
}

.products {
    background-color: $white;
    .card {
        h4 {
            a {
                color: $indigo-800;
            }
        }
    }
}

.subscription {
    background-color: $light-gray;
}

.footer {
    background-color: $white;
    padding: rem-calc(30) 0;
    h6 {
        text-transform: uppercase;
        color: $light-blue-800;
    }
    a {
        color: $blue-grey-800;
        font-size: $small-font-size;
    }
    .logo-bottom {
        width: rem-calc(170);
        height: rem-calc(30);
    }
    .phone {
        font-size: rem-calc(24);
    }
    .small-text {
        font-size: $small-font-size;
    }
}


/**
 Search
 */

$hero-search-filter-height: rem-calc(80);

.hero-search-filter {
    height: $hero-search-filter-height;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-search-filter-content {
    display: flex;
    width: 100%;
    height: $hero-search-filter-height;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-search-filter-form {
    display: flex;
    width: 100%;
    background: $white;
    padding: 0.25rem;
    border-radius: 5px;
    align-items: center;

    .divider {
        background-color: $grey-400;
        width: 1px;
    }

    label {
        margin-right: 0.75rem;
        margin-left: 0.75rem;
        color: $grey-800;
        font-weight: bold;
    }

    input,
    .button {
        margin-bottom: 0;
    }

    @include breakpoint(small only) {
        width: 95%;
    }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
    border: 0;
    box-shadow: none;

    &:focus {
        border: 0;
        box-shadow: none;
    }
}

$card-product-hover-transition: all 0.2s ease;

.card-product {
    &:hover {
        .card-product-img-wrapper {

            img {
                filter: grayscale(0);
            }

            .button {
                transform: translateY(-3rem);
            }
        }
    }
}

.card-product-img-wrapper {
    position: relative;
    overflow: hidden;

    .button {
        transition: $card-product-hover-transition;
        background-color: $secondary-color;
        padding: 1rem 0.5rem;
        bottom: -3rem;
        transform: translateY(3rem);
        position: absolute;
        z-index: 2;
        color: $white;
        margin-bottom: 0;

        &:hover {
            background-color: $primary-color;
        }
    }

    img {
        transition: $card-product-hover-transition;
        filter: grayscale(1);
        width: 100%;
    }

    .card-product-name {
        font-size: 1.375rem;
    }

    .card-product-price {
        font-weight: bold;
    }

    .card-product-description {
        color: $dark-gray;
        font-size: 0.875rem;
        margin-bottom: 0;
    }
}

