@import "settings";
@import "foundation-sites/scss/foundation";
@import "color";
@include foundation-everything();

.product-image-gallery {
    background-color: $white;
    padding: 1.5rem;
}

.pdp-product-image {
    margin-bottom: 20px;
}

.product-thumbs {
    a {
        background-color: $white;
        margin-left: 8px;
        margin-right: 8px;
        padding: 0 !important;

        img {
            @include thumbnail;
            border-radius: 3px;
            width: 50px;
            height: 50px;
            border: none;
        }
    }
    li {
        display: inline;
    }
    list-style: none;
}

.tabs-title {
    a {
        color: $secondary-color;
        font-size: $base-font-size;
    }
    a[aria-selected="true"] {
        color: $header-bg-color;
    }
}

$button-group-option-font-size: 0.8rem;
$button-group-option-button-gap: 0.35rem;
$button-group-option-button-fontsize: rem-calc(18);

.button-group-option {
    position: relative;
    align-items: center;
    width: 100%;
    @include button-group;
    @include button-group-expand('.button');

    .button {
        font-size: $button-group-option-button-fontsize;
    }

    &:before {
        content: attr(data-grouptype);
        z-index: 1;
        color: $dark-gray;
        display: inline-block;
        font-size: $button-group-option-font-size;
        padding: 0.25em;
        border-radius: 5000px;
        background: $white;
        @include absolute-center;
    }

    .button + .button {
        margin-left: $button-group-option-button-gap;
    }
}

i.fa-secondary {
    color: $secondary-color;
    &:hover {
        color: $primary-color;
    }
}
