@import "settings";

a {
    color: $success;
}
a:hover {
    color: $primary;
}
a:visited {
    color: $secondary;
}

.uppercase {
    text-transform: uppercase;
}

.list-style-none {
    list-style: none;
    li {
        display: inline;
    }
}
